{% for block in blocks %}
    {% set nr = loop.index if loop.index > 9 else "0" ~ loop.index %}
    
    <section>
        {% if block.type == 'hero' %}
            {% include "blocks/hero.njk" %}
            
        {% elif block.type == 'lore' %}
            {% include "blocks/lore.njk" %}
            
        {% elif block.type == 'terminal_intro' %}
            {% include "blocks/terminal_intro.njk" %}
            
        {% elif block.type == 'vip_chapter' %}
            {% include "blocks/vip_chapter.njk" %}$

        {% elif block.type == 'vip_feedback' %}
            {% include "blocks/vip_feedback.njk" %}
            
        {% elif block.type == 'signup_form' %}
            {% include "blocks/signup_form.njk" %}

        {% elif block.type == 'product' %}
            {% include "blocks/product.njk" %}
            
        {% elif block.type == 'media_block' %}
            {% include "blocks/media_block.njk" %}
            
        {% elif block.type == 'crt_terminal' %}
            {% include "blocks/crt_terminal.njk" %}
            
        {% elif block.type == 'richtext' %}
            {% include "blocks/richtext.njk" %}
            
        {% endif %}
    </section>
{% endfor %}
